@use './partials/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif; 
}

img{
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: $primary-color;
}

.container{
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
